{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="flex-container">
            <div class="container-half">
                <h2>Deepseek Reply</h2>
                <p>{{deepseek|safe}}</p>
            </div>
            <div class="container-half">
                <h2>Llama Reply</h2>
                <p>{{llama|safe}}</p>
            </div>
        </div>
        <form action="/main" method="post">
            <input type="submit" value="Back to Main">
        </form>
    </div>
{% endblock %}
