<head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',
        filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="flex-container">
            <div class="container-half">
                <h2>Deepseek Reply</h2>
                <p>{{deepseek}}</p>
            </div>
            <div class="container-half">
                <h2>Llama Reply</h2>
                <p>{{llama}}</p>
            </div>
        </div>
        <form action="/main" method="post">
            <input type="submit" value="Back to Main">
        </form>
    </div>
</body>
