{% extends "base.html" %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
    <img src="{{ url_for('static', filename='images/robot.svg') }}" alt="Robot" class="image-class">
    <h2>Welcome to DSAI chatbot</h2>
        <form action="/main" method="post">
            <p>Please enter your name </p>
            <div class="form-group">
                <input type="text" name="q" placeholder="Your name">
                <input type="submit" value="Enter">
            </div>
        </form>
    </div>
{% endblock %}