<head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',
        filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2 style="font-size: 36px;">Main</h2>
    <div style="display: flex; align-items: center; justify-content: center;">
        <img src="{{ url_for('static', filename='images/robot.svg') }}" alt="Robot" class="robot-side">
        <div>
            <form action="/llama" method="post">      
                <input type="submit" value="LLAMA chatbot via groq">
            </form>
            <form action="/deepseek" method="post">      
                <input type="submit" value="Deepseek chatbot via groq">
            </form>
            <form action="/telegram" method="post">      
                <input type="submit" value="Start Telegram">
            </form>
            <form action="/stop telegram" method="post">      
                <input type="submit" value="Stop Telegram">
            </form>
            <form action="/dbs" method="post">      
                <input type="submit" value="Predict DBS Price">
            </form>
            <form action="/" method="get">      
                <input type="submit" value="Back to Landing Page">
            </form>
        </div>
    </div>
</body>