{% extends "base.html" %}
{% block content %}
    <div class="container">
    <h2 style="font-size: 36px;">Main</h2>
    <div class="main-content">
        <div class="robot-container">
            <div class="speech-bubble">Hi {{username}}, choose one option.</div>
            <img src="{{ url_for('static', filename='images/robot.svg') }}" alt="Robot" class="robot-side">
        </div>
        <div class="button-container">
            <form action="/llama" method="post">      
                <input type="submit" value="Llama chatbot">
            </form>
            <form action="/deepseek" method="post">      
                <input type="submit" value="Deepseek chatbot">
            </form>
            <form action="/deepseek_llama" method="post">      
                <input type="submit" value="Deepseek & Llama">
            </form>
            <form action="/telegram" method="post">      
                <input type="submit" class="telegram-btn" value="Start Telegram">
            </form>
            <form action="/stop telegram" method="post">      
                <input type="submit" class="telegram-btn" value="Stop Telegram">
            </form>
            <form action="/dbs" method="post">      
                <input type="submit" value="Predict DBS Price">
            </form>
            <form action="/user_log" method="post">
                <input type="submit" value="Create User Logs">
            </form>
            <form action="/delete_log" method="post">
                <input type="submit" value="Delete Logs">
            </form>
            <form action="/" method="get">      
                <input type="submit" value="Back to Landing Page">
            </form>
            
        </div>
    </div>
{% endblock %}